.cart-info{
    /* border: solid 2px red; */
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.product-container{
    /* border: solid 2px blue; */
    flex-basis: 70vw;
}

.product-card{
    width: 25rem;
    height: 40rem;
}

.cart-button{
    font-size: 1r.5em;
}

.quantity,
.total-Price{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    gap: 1rem;
}

.quantity-icon{
    font-size: 2rem;
}

.quantity-icon:hover{
    color: gray;
}

.cart-total{
    /* border: solid 1px red; */
    background: rgb(242, 239, 239);
    height: max-content;
    flex-basis: 30vw;
    padding: 1rem;
}

.priceDetails{
    font-size: 2rem;
    text-align: start;
    color: rgb(227, 126, 82);
    border-bottom: 0.1rem solid rgb(190, 174, 174);
}

.cartCount,
.totalCount,
.discount,
.delivery{
    font-size: 1.5rem;
    text-align: start;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.total-amount{
    border-top: 0.1rem solid rgb(190, 174, 174);
    border-bottom: 0.1rem solid rgb(190, 174, 174);
    font-size: 1.5rem;
    text-align: start;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}


.cart-quantity,
.emptyCartMessage{
    /* border: solid 1px red; */
    padding-top: 1rem;
    font-size: rem;
}




@media screen and (max-width : 800px) {
    
    .cart-info{
        flex-direction: column;
    }

    .priceDetails{
        font-size: 2rem;
    }

    .cartCount,
    .discount,
    .delivery,
    .total-amount{
        font-size: 1.5rem;
    }

    .product-container  {
        order: 1;
    }

}